<br>
<div class="contenedor">
    <div class="wrap">
    <h4>Mover Vehiculo</h4>
  <mat-form-field class="full-width">
    <input matInput placeholder="Ingrese Placa">
  </mat-form-field>
  <br>
  <p>Celda Actual: <span class="resultado">{{resultado}}</span></p>
  <p>Nueva Celda Asignada: <span class="resultado">{{resultado}}</span></p>
  
  <hr>
  <div class="example-button-row">
    <button mat-raised-button  (click)="cobrar()">Procesar Cambio de Celda</button>
  
  </div> 
  

</div>
</div>    